*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: #ff9a4b;
  height: 50px;
}
.main{
  width: 960px;
  margin: 50px　auto;
}
.info-box{
  background-color:#eeeeee;
  width: 300px;
  margin-left: 30px;
  padding: 10px;
  position: relative;
}
.info-box:first-child{
  margin-right: 0;
}
.b{
  background-color: #ff9A4B;
  color: white;
  top: 0;
  left: 0;
  position: absolute;
}
.image1{
  height: 150px;
  background-image: url(flow01.png);
  background-size: cover;
  background-position: bottom;
}
.image2{
  height: 150px;
  background-image: url(flow02.png);
  background-size: cover;
  background-position: bottom;
}
.image3{
  height: 150px;
  background-image: url(flow03.png);
  background-size: cover;
  background-position: bottom;
}

.title{
  margin: 15px 0 5px;
}

footer{
  background-color: #aaaaaa;
  height: 50px;
}